@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('/public/fonts/cabinet-grotesk.woff2') format('woff2'),
         url('/public/fonts/cabinet-grotesk.woff') format('woff'),
         url('/public/fonts/cabinet-grotesk.ttf') format('truetype');

}

@font-face {
    font-family: 'Panchang';
    src: url('/public/fonts/panchang.woff2') format('woff2'),
        url('/public/fonts/panchang.woff') format('woff'),
        url('/public/fonts/panchang.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

.cursor .cursor--small,
.cursor .cursor--large,
.cursor .cursor--text {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: var(--cursor-size);
    height: var(--cursor-size);
    mix-blend-mode: difference;
    pointer-events: none;
    user-select: none;
    z-index: 999999;
}
.cursor .cursor--text {
    --cursor-size: fit-content;
    font-size: 1rem;
    color: #fff;
    opacity: 0;
}
.cursor .cursor--text .text {
    font-family: "Cabinet Grotesk", sans-serif;
    font-weight: bold;
    z-index: 999999;
    mix-blend-mode: difference;
    color: #ffffff
}
.cursor .cursor--small {
    --cursor-size: 20px;
    background: #ffffff;
}
.cursor .cursor--large {
    --cursor-size: 60px;
    border: 1px solid #ffffff;
}
